@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* FontFamily */
  /* --fonts-SSP: "Source Sans Pro", sans-serif; */
  /* --fonts-SSP: "Hind Siliguri", sans-serif; */
  /* --fonts-SSP: "Open Sans", sans-serif; */
  --fonts-SSP: "Poppins", sans-serif;
  /* --fonts-wt: "300"; */
  --font-italic: "Italianno", cursive;
  /* Background Color */
  --background-bg: #fafcff;
  /* Max width */
  --maxWidth: 1140px;
  --activeColor: red;
  --clipPath: polygon(100% 0, 0% 100%, 100% 100%);
}
h1 {
  @apply text-8xl;
}
h2 {
  @apply text-4xl;
}
.active{
  color: var(--activeColor)
}
@layer components {
  .button {
    @apply px-4 py-2 font-[450] tracking-wide rounded outline-none;
  }
  .button--action {
    @apply bg-[#00c7d4ff]/60 text-white hover:bg-[#00c7d4ff];
  }
  .button--success {
    @apply bg-green-500 text-white hover:bg-green-400;
  }
  .button--warning {
    @apply bg-red-500 text-white hover:bg-red-400;
  }
}

@layer utilities{
  .box::before{
    @apply content-[''] absolute w-1/2 h-full border-b-4 border-l-4 bottom-0 left-0
  }
  .box::after{
    @apply content-[''] absolute w-1/2 h-full border-t-4 border-r-4 right-0 top-0 
  }
}

li {
  @apply font-[600] tracking-wide uppercase;
}
input {
  @apply py-2 z-10 px-4 border-0 focus:outline-none focus:ring-2 focus:to-blue-500 rounded;
}
textarea {
  @apply py-2 z-10 px-4 border-0 focus:outline-none focus:ring-2 focus:to-blue-500 rounded;
}
.liHover {
  @apply hover:bg-green-800 hover:text-white;
}
.customFont a{
 @apply text-[18px] font-[400]
}
